/* Start styling by class */

.header-name {
    font-size: 60px;
    font-variant: small-caps;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.header-date {
    font-size: 40px;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}

.header {
    background: url(../img/header.JPG) no-repeat center center;
    width: 100%;
    height: 720px;
    background-size: cover;
    position: relative;
}

/* End styling by class */

/* Start styling by id */

/* End styling by id */