<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Smith Wedding : Images</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/images.css}"/>
</head>
<body>
<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash-message"></h3>
<div class="header">
    <span class="header-name">Mason & Jordan Smith</span>
    <span class="header-date">July 6, 2019</span>
</div>

<div class="table">
    <table id="imagesTable">
        <thead>
        <tr class="table-header">
            <th colspan="3">Images</th>
        </tr>
        <tr>
            <th colspan="3" th:text="${page.size} + ' image(s) per page'"></th>
        </tr>
        </thead>
        <tbody>
        <td th:each="image : ${page.content}">
            <ul th:align="center">
                <a th:href="@{'/images/' + ${image.name} + '/raw'}">
                    <img class="uploadedImageTile" th:src="@{'/images/' + ${image.name} + '/raw'}"/>
                </a>
            </ul>
        </td>
        </tbody>
    </table>
</div>
<h3 th:text="'Page ' + ${page.number + 1} + ' of ' + ${page.totalPages}" class="page-number"/>

<ul class="navButtons">
    <li class="prev" th:if="${prev}">
        <a th:href="@{/images/(size=${prev.pageSize},page=${prev.pageNumber})}">PREVIOUS</a>
    </li>
    <li class="next" th:if="${next}">
        <a th:href="@{/images/(size=${next.pageSize},page=${next.pageNumber})}">NEXT</a>
    </li>
</ul>

<div class="form">
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/images/">
        <span>Upload your image here!</span>
        <p><input type="file" name="file"/><input type="submit" value="Upload"/></p>
    </form>
</div>

</body>
</html>