<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Smith Wedding : Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<nav>
    <ul class="nav-bar">
        <li class="link-container">
            <a class="link active" th:href="@{/}">Home</a>
        </li>
        <li class="link-container">
            <a class="link" th:href="@{/images/}">Photos</a>
        </li>
        <span class="nav-message">Smith Wedding - Glenwood, IA</span>
    </ul>
</nav>

<div class="header">
    <span class="header-name">Mason & Jordan Smith</span>
    <span class="header-date">July 6, 2019</span>
</div>

<div class="carousel-container">
    <div id="imageSlider" th:align="center">
        <span id="slider-header">The Happy Couple</span>
        <img class="slides" th:src="@{/img/AtPlaza.JPG}"/>
        <img class="slides" th:src="@{/img/OnBeach.JPG}"/>
        <img class="slides" th:src="@{/img/Sweaty.JPG}"/>
        <img class="slides" th:src="@{/img/WithCircusGuy.JPG}"/>
        <img class="slides" th:src="@{/img/WithEagle.JPG}"/>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>