<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Smith Wedding : Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<nav>
    <ul class="nav-bar">
        <li class="link-container">
            <a class="link active" th:href="@{/}">Home</a>
        </li>
        <li class="link-container">
            <a class="link" th:href="@{/images/}">Photos</a>
        </li>
        <span class="nav-message">Smith Wedding - Glenwood, IA</span>
    </ul>
</nav>

<div class="header">
    <span class="header-name">Mason & Jordan Smith</span>
    <span class="header-date">July 6, 2019</span>
</div>

<div class="carousel-container">
    <div id="imageSlider" th:align="center">
        <span id="slider-header">The Happy Couple</span>
        <img class="slides" th:src="@{/img/AtPlaza.JPG}"/>
        <img class="slides" th:src="@{/img/engagement_1.JPG}"/>
        <img class="slides" th:src="@{/img/OnBeach.JPG}"/>
        <img class="slides" th:src="@{/img/engagement_2.JPG}"/>
        <img class="slides" th:src="@{/img/Sweaty.JPG}"/>
        <img class="slides" th:src="@{/img/WithCircusGuy.JPG}"/>
        <img class="slides" th:src="@{/img/engagement_3.JPG}"/>
        <img class="slides" th:src="@{/img/GB.JPG}"/>
        <img class="slides" th:src="@{/img/WithEagle.JPG}"/>
        <img class="slides" th:src="@{/img/engagement_8.JPG}"/>
        <img class="slides" th:src="@{/img/GB_kiss.JPG}"/>
    </div>
</div>

<div class="footer">
    <div id="footerLeft">
        <ul id="footerLeftContents">
            <li class="fromTheCoupleMsg">From the Couple:</li>
            <br>
            <li class="fromTheCoupleMsg">We would like to take this opportunity to thank each</li>
            <li class="fromTheCoupleMsg">and every one of you for being a part of our journey.</li>
            <li class="fromTheCoupleMsg">We hope that everyone who attended our wedding had a</li>
            <li class="fromTheCoupleMsg">great time celebrating with us and would like to thank</li>
            <li class="fromTheCoupleMsg">you for making our special day of union unforgettable.</li>
            <br>
            <li class="fromTheCoupleMsg">With love, Mason and Jordan Smith</li>
        </ul>
    </div>
    <div id="footerLogoContainer">
        <img id="footerLogo" th:src="@{/img/theSmiths.png}"/>
    </div>
    <div id="contactUsContainer" th:align="center">
        <ul id="contactUsContents">
            <li class="contactText">smithwedding7619@gmail.com</li>
            <li class="socialMediaListItem">
                <a th:href="'https://www.facebook.com/events/295409984452065/?ti=icl'" target="_blank">
                    <img id="facebookLinkImg" th:src="@{/img/facebook.png}"/>
                </a>
            </li>
            <li class="socialMediaListItem">
                <a th:href="'https://twitter.com/WeddingSmith'" target="_blank">
                    <img id="twitterLinkImg" th:src="@{/img/twitter.png}"/>
                </a>
            </li>
            <li class="socialMediaListItem">
                <a th:href="'https://venmo.com/Jordan-Jennings-13'" target="_blank">
                    <img id="venmoLinkImg" th:src="@{/img/venmo.jpg}"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>